.main {
  text-align: center;
  margin-top: 5Vh;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 480px;
  height: 90Vh;
  border: solid 1px grey;
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .main {
    margin-left: 10%;
    margin-right: 10%;
  }

};

@media screen and (max-width: 300px) {
  .main {
    margin-left: 5%;
    margin-right: 5%;
  }

  textarea {
    width: 80%;
  }

};




.user-button {
  margin: 10px;
}

.active {
  background-color: orange;
}

#users-list {
  text-align: center;
  padding-bottom: 30px;
}

.back {
  text-align: right;
  padding: 5px;
  height: 3%;
}

#history {
  height: 60Vh;
}

#typing-area {
  text-align: center;
  height: 20%;
}

textarea {
  margin-top: 5%;
  max-width: 550px;
  height: 40px;
  width: 90%;
}

.x {
  max-height: 15px;
  cursor: pointer;
}

.plane {
  max-height: 40px;
  cursor: pointer;
  margin: 2px;
}

